# POSTGRES
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# MQTT
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USERNAME=central-pipeline
MQTT_PASSWORD=

# MQTT simulator, development only
MQTT_USERNAME_SIM=central-pipeline-sim
MQTT_PASSWORD_SIM=
